<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prography.musicana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.bottomNavigationViewFragment.home.search.SearchActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".feature.forgotPassword.ForgotPasswordActivity"
            android:parentActivityName=".feature.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.login.LoginActivity" />
        </activity>
        <activity android:name=".feature.regester.RegesterActivity" />
        <activity android:name=".feature.login.LoginActivity" />
        <activity
            android:name=".feature.onboard.PrivacyPolicyActivity"
            android:parentActivityName=".feature.onboard.Onboarding">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.onboard.Onboarding" />
        </activity>
        <activity
            android:name=".feature.onboard.TermsConditionsActivity"
            android:parentActivityName=".feature.onboard.Onboarding">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.onboard.Onboarding" />
        </activity>
        <activity android:name=".feature.onboard.Onboarding" />
        <activity android:name=".feature.MainActivity">

        </activity>
        <activity android:name=".feature.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>